.custom-menu-header {
  padding: 10px 8px 10px 8px !important;
  font-weight: 600 !important;
  font-size: 1em !important;
  color: #8d8f91 !important;
}
.blockSelector.blockChooser {
  display: flex;
  padding: 4px 0px 4px 0px;
}

.blockSelector.blockChooser .menu-handler {
  color: gray;
  visibility: hidden;
  display: flex;
  white-space: nowrap;
}

.blockSelector.blockChooser .menu-handler .show {
  visibility: visible;
}

.blockSelector.blockChooser .menu-handler.menutitle .menuHandle {
  padding: 0.8em 10px 0.8em 0px;
}

.blockSelector.blockChooser .menuHandle,
.blockSelector.blockChooser .menuHandle i {
  padding-right: 5px;
}
